PORT=8080
DB_DSN=postgres://user:pass@localhost/n42swap?sslmode=disable
INCH_API_KEY=<your-1inch-api-key>
ETH_RPC=https://mainnet.infura.io/v3/<your-key>
BSC_RPC=https://bsc-dataseed.binance.org
POLYGON_RPC=https://polygon-rpc.com
ARB_RPC=https://arb1.arbitrum.io/rpc
OP_RPC=https://mainnet.optimism.io
